@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(128,225,149); 
    background: linear-gradient(90deg, rgb(107, 60, 218) 0%, rgb(28, 172, 88) 100%); 
    padding: 2rem 10%;
    display: flex;
    margin: auto;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
    width: 90%;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
}
.header {
    display: flex;
    border-bottom: 1px solid gainsboro;
    justify-content: space-between;
}
.header .chat-title {
    padding: 1rem 1.5rem;
    user-select: none;
    margin: 0;
}
.header .select-status {
    align-self: center;
}
.header .select-status #status{
    font-family: 'Poppins',sans-serif;
    margin-right: 1.7rem;
    border-radius: 5px;
    outline: none;
    padding: .5rem;
    border: 1px solid gainsboro;
    font-size: 1.05rem;
    cursor: pointer;
    transition: .25s;
    height: 50px;
}
#output {
    height: 100%;
}
.label-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}
.label-div label {
    min-width: 80px;
    text-align: center;
    font-size: 80%;
    line-height: 18px;
}
#chat-window {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}
.users-title{
    display:flex;
    user-select: none;
    justify-content: center;
    padding:1rem 0 1rem 0;
    margin: 0;
    border-bottom: 1px solid gainsboro;
    width: 100%;
}
.chat-container {
    display:flex;
    flex-direction: column;
    background-color: white;
    width: 180%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 80vh;
    overflow: auto;
    max-width: initial;
    position: relative;
}
.users-container{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.users {
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    word-break: break-all;

}
.users::-webkit-scrollbar {
    height: 6px;
}
#chat-window::-webkit-scrollbar, .users::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(28, 172, 88);
    border-radius: .5rem;
    border: 1px solid white;
}
.user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    box-sizing: content-box;
    padding-bottom: .5rem;
    padding-left: .5rem;
    user-select: none;
}
.user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
    margin-right: 7px;
}
.user:first-child {
    padding-top: 1rem;
}
.username {
    padding: 0 7px;
    user-select: none;
    max-width: 100%;
}
.username .status-text {
    display: inline;
    font-style: italic;
    padding: 0;
    overflow-wrap: break-word;
    margin: 0;
    font-weight: 600;
    color: grey;
}
.output-text {
    font-weight: 200;
    font-style: italic;
    padding-left: 1.5rem;
    user-select: none;
    margin:0;
    line-height: 17px;
    overflow-wrap: break-word;
}
.output-text:first-child{
    margin-top: .4rem;
}
#actions p{
    margin-top: 0;
    margin-bottom: 3px;
}
.input-container {
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid gainsboro;
    display:flex;
    align-items: center;
    bottom: 7px;
    width: 100%;
}
#message {
    outline: none;
    border: none;
    width: 85%;
    height: 60px;
}
.messages {
    margin: 0;
    margin-left: 1.5rem;
    word-wrap: break-word;
    line-height: 20px;
}
#status{
    font-family: 'Poppins',sans-serif;
    margin-right: 1rem;
    border-radius: 5px;
    outline: none;
    padding: .5rem;
    border: 1px solid gainsboro;
    font-size: 1.05rem;
    cursor: pointer;
    transition: .25s;
}
#status:hover {
    background-color: rgb(107, 60, 218);
    /* background-color: rgba(104, 69, 160, 0.61); */
    color: white;
}
#send {
    font-family: 'Poppins',sans-serif;
    margin-right: 1rem;
    border-radius: 5px;
    outline: none;
    padding: .5rem;
    border: 1px solid gainsboro;
    font-size: 1.05rem;
    cursor: pointer;
    transition: .25s;
}
#send:hover {
    background-color: rgb(28, 172, 88);
    color: white;
}

input[type="color"] {
    cursor: pointer;
	-webkit-appearance: none;
    width: 30px;
    height: 30px;
	border: none;
    margin-left: 1rem;
    margin-right: .5rem;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    background-color: transparent;
}

@media (max-width: 1500px) {
    .titles{
        font-size: 1.25rem;
    }
    .username {
        font-size: .8rem;
    }
}
@media (max-width: 1220px) {
    .output-text, .username {
        font-size: .95rem;
    }
}

@media (max-width:1050px) {

    .user img {
        margin: 0;
        width: 30px;
        height: 30px;
    }
    .user:first-child {
        max-width: 140px;
        padding: 0;
    }
    ::-webkit-scrollbar {
        height: 6px;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .chat-container {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        max-width: 90vw;
        max-height: 75vh;
    }
    .users-container{
        overflow: hidden;
        display: flex;
        max-height: 105px;
        width: 90vw;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
    }
    .users-container .users-title {
        font-size: .9rem;
        padding: 0;
    }
    .users {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    .user {
        width: 130px;
        max-height: 72px;
        max-width: 140px;
        border:none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: .2rem;
    }
    .username {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
    .username .status-text {
        display: block;
        margin: 0;
    }
}

@media (max-width:500px) {
    .label-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .label-div label {
        text-align: center;
        padding-top: 3px;
        line-height: 10px;
    }
}